{:deps
          {io.pedestal/pedestal.service {:mvn/version "0.5.8"}
           io.pedestal/pedestal.route   {:mvn/version "0.5.8"}
           io.pedestal/pedestal.jetty   {:mvn/version "0.5.8"}
           org.clojure/clojure          {:mvn/version "1.10.1"}
           org.slf4j/slf4j-simple       {:mvn/version "1.7.30"}}
 :paths   ["src"]
 :aliases {:build {:extra-paths ["build_src"]
                   :extra-deps {badigeon/badigeon {:git/url "https://github.com/EwenG/badigeon.git"
                                                   :sha "dca97f9680a6ea204a2504c4414cafc4ba182a83"}}}}}
